@import url("https://fonts.googleapis.com/css?family=Ubuntu");

body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

header {
    width: 100%;
    height: 60vh;
}

#header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#header2 {
    display: none;
}

#header .logotipo {
    margin-left: 140px;
}

.info {
    display: none;
}

#header .pesquisar {
    font-size: 13px;
    border: none;
    width: 400px;
    padding-bottom: 10px;
    border-bottom: 1px solid #7a7a7a;
    background: url(../img-icons/background.png) no-repeat right center;
}

.menu {
    display: flex;
    align-items: center;
    margin-right: 120px;
}

.menu .area {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.menu .area a {
    text-decoration: none;
    color: #7a7a7a;
}

.menu .area .carrinho {
    margin-left: 15px;
}

.menu .tradutor {
    display: flex;
    align-items: center;
    list-style: none;
    padding-top: 5px;
    margin-left: -35px;
}

.menu .tradutor::before {
    content: "";
    border-left: 2px solid gray;
    height: 15px;
    margin: 0 10px 0 10px;
}

.menu .tradutor img {
    width: 20px;
    height: 20px;
    padding-left: 10px;
}

.menu .tradutor ul {
    display: flex;
    align-items: center;
}

.menu .tradutor li {
    cursor: pointer;
}

#carousel {
    width: 100%;
    height: 350px;
    margin: auto;
    overflow: hidden;
}

.setas {
    position: relative;
    top: 180px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.setas #anterior {
    position: relative;
    z-index: 10;
    right: 150px;
}

.setas #proximo {
    position: relative;
    left: 150px;
    z-index: 10;
}

#itens {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    display: inline-block;
}

#itens .item h2 {
    position: absolute;
    width: 380px;
    padding-left: 210px;
    padding-top: 80px;
    color: #fff;
    font-size: 2.8em;
}

.container {
    width: 940px;
    height: 407px;
    margin-left: 170px;
    display: flex;
    align-items: center;
}

.container .previous,
.container .next {
    cursor: pointer;
}

.produto {
    margin: 20px 17px;
}

.produto img {
    margin-top: 20px;
}

.produto .parcela {
    margin-top: -30px;
}

.produto button {
    width: 135px;
    height: 35px;
    font-weight: bold;
    border-radius: 5px;
    background: url(../img-icons/carrinho.png) no-repeat left;
    background-position: 20px;
    background-color: #2EC4B6;
    color: #F2F2F2;
    border: none;
}

.produto .btn-comprar {
    box-align: center;
    margin-left: 23px;
    text-indent: 20px;
    cursor: pointer;
}

item-produto h6 {
    text-align: center;
    color: #7a7a7a;
}

.item-produto h6::after {
    content: "";
    display: inline-block;
    margin-top: 10px;
    margin-bottom: -15px;
    width: 70px;
    height: 10px;
    background-image: url("../img-icons/favorite.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

.item-produto h5 {
    text-align: center;
    color: #2EC4B6;
    font-size: 20px;
    margin-top: -10px;
}

.item-produto p {
    text-align: center;
    color: #7a7a7a;
    font-size: 12px;
    margin-top: 5px;
}

.item-produto:hover {
    background: #F2F2F2;
}

.item-produto .invisivel {
    display: none;
}

.item-produto:hover .invisivel {
    display: flex;
}

/*--Footer--*/
footer {
    padding: 15px;
    height: 213px;
    background-color: #011627;
    border-bottom: 10px solid #2EC4B6;
}

footer .rodape {
    width: 940px;
    height: 210px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

footer h3 {
    margin-left: 12px;
    margin-top: -115px;
    color: #F2F2F2;
}

footer h3::after {
    content: "";
    display: block;
    border-bottom: 5px solid #FF9F1C;
    width: 60px;
    height: 10px;
}

footer h4 {
    margin-top: 30px;
    margin-bottom: 0;
}

footer .filial {
    width: 512px;
    color: #F2F2F2;
    margin-left: -98px;
    margin-top: 80px;
    line-height: 25px;
    display: flex;
    align-items: center;
}

footer .filial .filial-sp,
footer .filial .filial-rj {
    margin-right: 40px;
}

.contato {
    width: 195px;
    height: 105px;
    margin-left: -60px;
    display: grid;
    align-items: center;
    padding-top: 70px;
}

.contato button {
    width: 195px;
    height: 38px;
    color: #F2F2F2;
    border-radius: 5px;
    border: none;
    padding-left: 45px;
    display: flex;
    align-items: center;
}

.btn-contato {
    background: url(../img-icons/contato-carta.png) no-repeat left;
    background-color: #FF9F1C;
    background-position: 15px;
    cursor: pointer;
}

.btn-consultor {
    background: url(../img-icons/contato.png) no-repeat left;
    background-color: #FF9F1C;
    background-position: 15px;
    margin-top: 45px;
    cursor: pointer;
}

.autor,
.createdby {
    width: 185px;
    color: #F2F2F2;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: auto;
    font-size: 10px;
}

.autor .profite {
    margin-right: 20px;
}

.autor .profite p {
    margin-bottom: 5px;
}

.vtex p {
    margin-bottom: 5px;
}

li {
    list-style: none;
    font-size: .8em;
}